---
source: gdrive
source_folder: support-documents
source_path: Support Document_NEW FOLDER/How to set up Age verification.docx
extracted: 2026-04-23T02:32:57.659Z
sha: c499767011c5
category: Inventory & Items
tags: howto,inventory
---

# How to set up Age verification

**[How to set up Age verification?]{.underline}**

**[Please follow the below procedure:-]{.underline}**

1.  Open Inventory Management module from Dashboard.

2.  Enter yo**u**r quick access password.

3.  At the top left, click on the three lines (Hamburger) button ![C:\\Users\\mit shah\\AppData\\Local\\Microsoft\\Windows\\INetCache\\IE\\ZY2HW6WI\\Menu-thin-circular-outlined-button.svg\[1\].png](media/image1.png){width="0.2247561242344707in" height="0.2247561242344707in"}.

4.  Select the Department option from the Item Master menu.

![C:\\Users\\mit shah\\Downloads\\MicrosoftTeams-image (12).png](media/image2.jpeg){width="6.268055555555556in" height="4.699817366579178in"}

5.  Select and click on the Department.

6.  Turn on the toggle button of the Age restriction option and select age criteria from the dropdown list.

![C:\\Users\\mit shah\\Downloads\\MicrosoftTeams-image (11).png](media/image3.jpeg){width="6.518277559055118in" height="4.699817366579178in"}

7.  Click Save.

![C:\\Users\\mit shah\\Downloads\\MicrosoftTeams-image (13).png](media/image4.jpeg){width="6.262498906386702in" height="4.304348206474191in"}

